@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;700&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Ibm Plex Sans Arabic', sans-serif;
    font-size: 16px;
    --color-primary: #f6fce8;
}

body {
    margin: 0;
    padding-top: 6rem;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100vw;
    padding: 0 1rem;
    background:#d6d4d4;
    color: #000;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: .875rem;
    margin-right: 2rem;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.title__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
}

/* .text-primary__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
} */

.text-primary {
    background: var(--color-primary);
    height: 15rem;
    padding: 0 1rem;
}

.text-primary h2 {
    margin: 0;
}

.text-secondary {
    background: var(--color-primary);
    height: 4rem;
    padding: 0 1rem;
}

.text-secondary p {
    margin: 0;
    top: 0;
    left: 0;
}

.text-primary__title p {
    margin: 0;
    top: 0;
    left: 0;
}